.navbar {
    overflow: visible;
    background-color: #333;
    position: relative;
    border-radius: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.navbar a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.navbar a.icon {
    background: rgba(0, 0, 0, 0);
    size: 100px;
    display: block;
    position: absolute;
    right: 100000;
    top: 0;
}

.navbar .menu {
    margin-top: 26px;
    margin-left: 0px;
    width: 25px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 100000;
    top: 0;
}

.navbar .titleImg {
    padding-left: 0px;
    width: 130px;
    margin-left: 65px;
    margin-top: 3px;
    cursor: pointer;
}

.navbar .dropdown-menu {
    background-color: #333;
    color: white;
    border-color: transparent;
    left: inherit;
    right: 0px;
    width: 190px;
}

.navbar .dropdown-menu .dropdown-item {
    background-color: #333;
    padding: 12px 35px;
    color: white;
    border-color: none;
}

.navbar .dropdown-menu .dropdown-item:hover {
    background-color: rgb(31, 31, 31);
}

.navbar .dropdown-menu .dropdown-item i {
    color: rgb(255, 255, 255);
    font-size: 17px;
    margin-left: 0px;
}

.navbar .dropdown-menu .dropdown-item span {
    color: rgb(255, 255, 255);
    font-size: 17px;
    margin-left: 12px;
}

#transparent {
    color: transparent;
}

#sb {
    display: none;
    background-color: #333;
    color: white;
}

.sidebar {
    background-color: #fff;
    overflow-y: auto;
    width: var(--side-navbar-size);
}

.sidebar {
    background-color: "#FFF";
    bottom: 0;
    overflow-y: "scroll";
    padding-bottom: 10rem;
    position: fixed;
    top: 6rem;
    z-index: 10000;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar .sidebarcategories {
    display: flex;
    flex-direction: column;
    margin: 12px 0;
    width: 100%;
}

.sidebar .sidebarcategories a {
    cursor: pointer;
}

.sidebar .sidebarcategories .sidebarcategory {
    align-items: left;
    display: flex;
    padding: 12px 35px;
    width: 100%;
}

.sidebar .sidebarcategories .sidebarcategory:hover {
    background-color: rgb(31, 31, 31);
}

#footer {
    position: absolute;
    bottom: 0px;
}

.sidebar .sidebarcategories .sidebarcategory i {
    color: rgb(255, 255, 255);
    font-size: 17px;
    margin-left: 0px;
}

.sidebar .sidebarcategories .sidebarcategory span {
    color: rgb(255, 255, 255);
    font-size: 17px;
    margin-left: 12px;
}

#profile-block {
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding-bottom: 10px;
    box-shadow: 5px 10px 10px #6a6a6a;
}

.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

table {
    height: 100%;
    width: 80%;
    border-spacing: 20px;
    font-size: 130%;
    color: rgb(14, 0, 0);
    margin-left: 130px;
}

td {
    padding: 13px;
}

input[type=date],
input[type=text],
input[type=textarea],
input[type=password],
select {
    width: 80%;
    padding: 13px 15px;
    display: inline-block;
    text-align: center;
    border: 1px solid rgba(204, 204, 204, 0.263);
    border-radius: 50px;
    background: linear-gradient(-45deg, #23a5d56e, #23d5ab6f);
    color: rgba(255, 255, 255, 0.904);
}

input::placeholder {
    color: rgba(255, 255, 255, 0.777);
}

input:focus {
    outline: none;
    border-color: rgba(255, 255, 255, 0.345);
}

.profile-pic {
    max-width: 170px;
    max-height: 170px;
    display: inline-block;
}

.modal-content {
    position: center;
    margin-top: 20%;
}

input[type=file] {
    display: none;
}

.p-image {
    position: absolute;
    top: 118px;
    left: 135px;
    color: #666666;
}

.upload-button {
    font-size: 1.4em;
}

.upload-button:hover {
    color: #999;
    cursor: pointer;
}

#stats-block {
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding-bottom: 10px;
    margin-left: 35px;
    box-shadow: 5px 10px 10px #6a6a6a;
}

#graph-block {
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding-bottom: 10px;
    margin-left: 17px;
    box-shadow: 5px 10px 10px #6a6a6a;
}

#rules-block {
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding-bottom: 10px;
    max-height: 600px;
    box-shadow: 5px 10px 10px #6a6a6a;
    overflow-y: auto;
}

body {
    background: linear-gradient(-45deg, #23a6d5, #23d5ab);
    position: relative;
    background-size: cover;
}

ul {
    list-style-type: disc;
}

#rules-block::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f500;
}

#rules-block::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f500;
}

#rules-block::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #55555557;
}

.poster {
    max-width: 225px;
    max-height: 450px;
    box-shadow: 5px 10px 10px #6a6a6a;
}

#time {
    position: absolute;
    margin-top: 7rem;
    margin-left: 2rem;
    left: 3rem;
}

.round-time-bar {
    margin: 11rem;
    overflow: hidden;
    background-color: grey;
    border-radius: 50px;
}

.round-time-bar div {
    height: 18px;
    animation: roundtime calc(var(--duration) * 1s) steps(var(--duration)) forwards;
    transform-origin: left center;
    background: linear-gradient(to bottom, rgb(68, 255, 0), rgb(66, 153, 0));
    border-radius: 50px;
    border: #333;
}

.round-time-bar[data-style="smooth"] div {
    animation: roundtime calc(var(--duration) * 1s) linear forwards;
}

@keyframes roundtime {
    to {
        /* More performant than `width` */
        transform: scaleX(0);
    }
}

input[type="radio"] {
    display: none;
}

.label {
    padding: 13px 125px;
    border-radius: 50px;
    background: transparent;
    color: rgba(27, 27, 27, 0.904);
    cursor: pointer;
}

#options {
    margin-top: -5rem;
    margin-left: 80px;
}

#option {
    margin-bottom: 10px;
    width: 80%;
    padding: 13px 15px;
    display: inline-block;
    text-align: center;
    border: 1px solid rgba(204, 204, 204, 0.263);
    border-radius: 50px;
    background: linear-gradient(to bottom, #ffffffe5, #bcbcbcc5);
    color: rgba(27, 27, 27, 0.904);
}

#option:hover {
    background: linear-gradient(to bottom, #c2c2c2e5, #787878c5);
    cursor: pointer;
}

#hint-button {
    position: absolute;
    top: 50rem;
    left: 15rem;
    padding: 13px 15px;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    width: 100px;
    background: linear-gradient(to bottom, #ffffffe5, #bcbcbcc5);
}

#hint-button:hover {
    background: #787878c5;
}

#next-button {
    position: absolute;
    top: 50rem;
    right: 15rem;
    padding: 13px 15px;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    width: 100px;
}

#column2 {
    background-color: rgba(183, 183, 183, 0.747);
    border-radius: 20px;
}

.row input:checked~.label {
    color: #2c9c00;
    font-size: 15px;
}

#column3 {
    margin-left: 50px;
    background-color: rgba(183, 183, 183, 0.747);
    border-radius: 20px;
    padding-left: 30px;
}

hr {
    padding-left: 10px;
    border-top: 1px solid #000;
    margin-left: -15px;
}

.modal-content {
    display: flex;
    flex-direction: column;
}

.modal-footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: right;
}

#start-modal-footer {
    margin-left: 85%;
}

.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-row {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0.4rem 0.4rem;
    font-size: medium;
}

.form-row:nth-child(odd) {
    background: #f2f2f2;
}

.form-row label {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 50%;
}

.form-row input,
.form-row select {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
    background-color: rgba(0, 0, 0, 0.447);
    border: 1px solid hsl(0, 0%, 90%);
    padding: 0.2rem 0.2rem;
    max-width: 50%;
}

#curtain-block {
    max-width: 140rem;
    height: 65rem;
    background-color: rgb(110, 110, 110);
    overflow: hidden;
}

#stage {
    height: 100%;
    background: rgba(0, 0, 0, 0);
}

.curtain {
    position: absolute;
    background: -moz-linear-gradient(right, rgba(255, 0, 0, 0), #b00000, rgba(204, 0, 0, 0.993), #b00000), -moz-linear-gradient(right, rgba(204, 0, 0, 0.997), rgba(188, 0, 0, 0.999), rgba(204, 0, 0, 0.998));
    background: -o-linear-gradient(right, rgba(255, 0, 0, 0), #b00000, rgba(204, 0, 0, 0.993), #b00000), -o-linear-gradient(right, rgba(204, 0, 0, 0.997), rgba(188, 0, 0, 0.999), rgba(204, 0, 0, 0.998));
    background: -webkit-linear-gradient(right, rgba(255, 0, 0, 0), #b00000, rgba(204, 0, 0, 0.993), #b00000), -webkit-linear-gradient(right, rgba(204, 0, 0, 0.997), rgba(188, 0, 0, 0.999), rgba(204, 0, 0, 0.998));
    background: linear-gradient(to left, rgba(255, 0, 0, 0), #b00000, rgba(204, 0, 0, 0.993), #b00000), linear-gradient(to left, rgba(204, 0, 0, 0.997), rgba(188, 0, 0, 0.999), rgba(204, 0, 0, 0.998));
    background-size: 67px 67px, 53px 53px;
    width: 60%;
    height: 100%;
    margin-left: -10%;
    transition: width 4s, -webkit-transform 2s;
}

.balance {
    position: absolute;
    background: -moz-linear-gradient(right, rgba(255, 0, 0, 0), #840000, rgb(230, 0, 0.993), #840000), -moz-linear-gradient(right, rgba(230, 0, 0, 0.997), rgba(218, 0, 0, 0.999), rgba(230, 0, 0, 0.998));
    background: -o-linear-gradient(right, rgba(255, 0, 0, 0), #840000, rgb(230, 0, 0.993), #840000), -o-linear-gradient(right, rgba(230, 0, 0, 0.997), rgba(218, 0, 0, 0.999), rgba(230, 0, 0, 0.998));
    background: -webkit-linear-gradient(right, rgba(255, 0, 0, 0), #840000, rgb(230, 0, 0.993), #840000), -webkit-linear-gradient(right, rgba(230, 0, 0, 0.997), rgba(218, 0, 0, 0.999), rgba(230, 0, 0, 0.998));
    background: linear-gradient(to left, rgba(255, 0, 0, 0), #840000, rgb(230, 0, 0.993), #840000), linear-gradient(to left, rgba(230, 0, 0, 0.997), rgba(218, 0, 0, 0.999), rgba(230, 0, 0, 0.998));
    background-size: 71px 71px, 59px 53px;
    background-size: 79px 79px, 61px 61px;
    width: 100%;
    height: 15%;
    transition: height 2s 1s;
}

#curtain-right {
    right: 0;
    margin-right: -10%;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
}

.spotlight {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    background: -moz-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) 60%), -moz-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 40%);
    background: -o-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) 60%), -o-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 40%);
    background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) 60%), -webkit-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 40%);
    background: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) 60%), radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 40%);
    background-attachment: inherit;
    background-position: -80px 10, 80px 0;
}

#stage:hover #curtain-left {
    width: 250px;
    z-index: 10;
    -webkit-transform: matrix(1, 0, -0.3, 1, 0, 0);
    -moz-transform: matrix(1, 0, -0.3, 1, 0, 0);
    -ms-transform: matrix(1, 0, -0.3, 1, 0, 0);
    -o-transform: matrix(1, 0, -0.3, 1, 0, 0);
}

#stage:hover #curtain-right {
    width: 250px;
    z-index: 10;
    -webkit-transform: matrix(-1, 0, 0.3, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0.3, 1, 0, 0);
    -ms-transform: matrix(-1, 0, 0.3, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0.3, 1, 0, 0);
}

#stage:hover .balance {
    z-index: 30;
    height: 50px;
}

#stage .button {
    display: none;
    z-index: 1;
}

#stage .start-image {
    display: none;
    z-index: 1;
}

#stage:hover .start-image {
    display: block;
}

#start-button {
    margin-top: 5%;
    margin-left: 47%;
    width: 15%;
    height: 30px;
    background-color: transparent;
    border-color: transparent;
}

#start-button:focus {
    outline: none;
    box-shadow: none;
}

#stage:hover .button {
    margin-left: -90%;
    z-index: -30;
    display: block;
    text-align: center;
    border-width: 1px 0px 1px 0;
    border-style: solid;
    border-image: linear-gradient(to left, transparent, rgba(224, 132, 0, 0.4), transparent);
    border-image-slice: 1;
    cursor: pointer;
}

#start-logo {
    max-width: 300px;
    max-height: 200px;
    z-index: -30;
    margin-top: 19rem;
    margin-left: 50rem;
}

#app-logo {
    margin-top: 1rem;
    margin-left: 54rem;
}

.container {
    max-width: 200px;
    z-index: 0;
    margin: auto;
    height: 200px;
    padding-top: 10px;
}

.text {
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.6em;
    color: rgba(255, 239, 199, 1);
    text-shadow: 0 0 13px rgba(76, 33, 4, 0.79), 0 0 32px rgba(255, 187, 24, 0.6);
    display: block;
    margin-bottom: -4px;
    margin-top: 1px;
    width: 100%;
}

.line-container {
    width: 230px;
    margin: auto;
    position: relative;
}

.line {
    position: absolute;
}

.line--thick {
    width: 6px;
    background-color: rgba(255, 239, 199, 1);
}

.line--thin {
    position: absolute;
    height: 1px;
    background: linear-gradient(to left, rgba(255, 239, 199, 0.8), rgba(224, 132, 0, 0.4), rgba(224, 132, 0, 0.4), rgba(224, 132, 0, 0.4), rgba(255, 239, 199, 0.8));
}

.thick-line--short {
    height: 15px;
    top: -16px;
}

.thick-line--long {
    height: 40px;
    top: -1px;
}

.line--top-right {
    right: 0;
    transform: skew(45deg);
    box-shadow: 0px 0px 13px rgba(226, 97, 11, 0.85), -12px -8px 25px 3px rgba(226, 97, 11, 0.8);
}

.line--top-left {
    left: 0px;
    transform: skew(-45deg);
    box-shadow: 12px -8px 25px 3px rgba(226, 97, 11, 0.8), 0px 0px 13px rgba(226, 97, 11, 0.85);
}

.line--bottom-right {
    right: 12px;
    transform: skew(-45deg);
    box-shadow: -12px 3px 22px 3px rgba(226, 97, 11, 0.8), 0px 0px 13px rgba(226, 97, 11, 0.85);
}

.line--bottom-left {
    left: 12px;
    transform: skew(45deg);
    box-shadow: 12px 3px 22px 3px rgba(226, 97, 11, 0.8), 0px 0px 13px rgba(226, 97, 11, 0.85);
}

.line--top {
    width: 214px;
    top: -17px;
    left: 8px;
    box-shadow: 0px 5px 34px 5px rgba(251, 169, 40, 0.26);
}

.line--bottom {
    width: 160px;
    top: 38px;
    left: 35px;
    box-shadow: 0px -5px 34px 5px rgba(251, 169, 40, 0.26);
}

.pseudo-class-shadow {
    position: absolute;
    content: '';
    display: block;
    width: 22px;
}

.line-container::before {
    @extend .pseudo-class-shadow;
    width: 40px;
    box-shadow: -20px 10px 45px 4px rgba(251, 169, 40, 0.8);
}

.line-container::after {
    @extend .pseudo-class-shadow;
    width: 40px;
    box-shadow: 207px -12px 45px 4px rgba(251, 169, 40, 0.8);
}

.line--top-left::before {
    @extend .pseudo-class-shadow;
    box-shadow: 28px 20px 34px 3px rgba(251, 169, 40, 0.8);
}

.line--top-left::after {
    @extend .pseudo-class-shadow;
    box-shadow: 48px 20px 34px 3px rgba(251, 169, 40, 0.8);
}

.line--top-right::before {
    @extend .pseudo-class-shadow;
    box-shadow: -48px 20px 34px 3px rgba(251, 169, 40, 0.8);
}

.line--top-right::after {
    @extend .pseudo-class-shadow;
    box-shadow: -58px 20px 34px 3px rgba(251, 169, 40, 0.8);
}

.line--bottom-right::before {
    @extend .pseudo-class-shadow;
    box-shadow: -42px 9px 44px 5px rgba(251, 169, 40, 0.66);
}

.line--bottom-right::after {
    @extend .pseudo-class-shadow;
    box-shadow: -52px 10px 44px 5px rgba(251, 169, 40, 0.66);
}

.line--bottom-left::before {
    @extend .pseudo-class-shadow;
    box-shadow: 32px 10px 44px 5px rgba(251, 169, 40, 0.66);
}

.line--bottom-left::after {
    @extend .pseudo-class-shadow;
    box-shadow: 42px 10px 44px 5px rgba(251, 169, 40, 0.66);
}